<!DOCTYPE html>
<html>

<% include ../admin/headerAd.ejs %>


<body class="bg-warning">
  <div class="">
    <div class="container mx-auto p-0">
      <div class="row">
        <div class="col-md-12 m-3"> </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card bg-light text-center px-5py p-4">
            <h4 class="py-0 text-warning">
              <%= payload.name %><br>
              <%= payload.nickname %> #<%= payload.year %><br>
              <%= payload.group %>
            </h4>
            <p class="lead text-left mx-auto">
              สิ่งที่แพ้ :<%= payload.allegic%>
              <br>ไซส์เสื้อ :<%= payload.size%>
            </p>
           
          <% if( !(payload.shirt === 'รับเสื้อแล้ว')  ){ %>
            
            
            <div class="row" id="div-car">
              <% include car-div.ejs %>
            </div>

            <div class="row" id= "div-money-shirt">
               <% include money-shirt-div.ejs%>
            </div>

          <% } else { %>

            <div class="row" id= "div-money-car">
              <div class="col-md-12">
            <% if( (payload.pay === 'จ่ายแล้ว') ) {%>
                <h4 class="text-success" id="paid" >จ่ายเงินเรียบร้อยจ้า</h4>
            <%} else {%>
                <h1 class="text-danger" id= "unpaid" >ยังไม่ได้จ่ายเงิน!!</h1>
            <% }%>            
                <h4 class="text-success py-0" id="car-num">รถ: <%= payload.car %></h4>                 
                <h4 class="text-success py-0" id="get-shirt">รับเสื้อแล้ว</h4>                               
              </div>
            </div>

          <% }%>

            <div class="card-body">
              <div class="col-md-12">
                <a class="btn w-50 m-3"  style="color: white; text-decoration: underline; cursor: pointer; background-color: #878787; border-color: #878787; " href="/admin/confirm">Back</a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <% include ../admin/scriptAd.ejs %>
</body>
<script>

  $(function () {

      //button show car [บัณฑิต , ปี1 , ปี2 , ปี3 , ปี4 , guest]
      <% if( (payload.year === 'ปี 1' || payload.year === 'ปี 2') && payload.car.includes("ฝ่ายทะเบียน")){ %>
          $('#car1').html("รถคันที่ 1");
          $('#car2').html("รถคันที่ 2");          
      <% } else if( (payload.year === 'ปี 4' ) && payload.car.includes("ฝ่ายทะเบียน")){ %>
          $('#car1').html("รถคันที่ 3");
          $('#car2').html("รถคันที่ 4");   
      <% }%>
      

      var index = <%=payload.index%>;

      // button paid 
      $("#money-btn-1").click(function(){
       
         $.ajax({
            url: '/admin/update/money',
            type:'POST',
            data: {index : index , money : true},
            success: function (success) {
              $('#div-money-shirt').html(success);                                                        
            }
          });
      });

      // button unpaid 
      $("#money-btn-2").click(function(){
        
         $.ajax({
            url: '/admin/update/money',
            type:'POST',
            data: {index : index , money : false},
            success: function (success) {
              $('#div-money-shirt').html(success);                                                       
            }
          });
      });

      // button car       
      $("#car1").click(function(){
        var car = $("#car1").text();  

          $.ajax({
          url: '/admin/update/car',
          type:'POST',
          data :  {car : car , index : index},
          success: function (success) {
              $('#div-car').html(success);                                              
          }
        });
      })

      // button car 
       $("#car2").click(function(){
        var car = $("#car2").text();

          $.ajax({
          url: '/admin/update/car',
          type:'POST',
          data :  {car : car , index : index},
          success: function (success) {
              $('#div-car').html(success);                                                       
            
          }
        });
      })
  });
</script>


</html>
