<!DOCTYPE html>
<html>

<% include ../admin/headerAd.ejs %>


<body class="bg-warning">
  <div class="">
    <div class="container mx-auto p-0">
      <div class="row">
        <div class="col-md-12 m-3"> </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card bg-light text-center px-5py p-4">
            <h4 class="py-0 text-warning"><%= payload.name %>
              <br><%= payload.nickname %> #<%= payload.year %>
              <br><%= payload.group %></h4>
            <p class="lead text-left mx-auto">สิ่งที่แพ้ :<%= payload.allegic%>
              <br>ไซส์เสื้อ :<%= payload.size%></p>
            <h4 class="text-success" id="paid" >จ่ายเงินเรียบร้อยจ้า</h4>
            <h1 class="text-danger" id= "unpaid" >ยังไม่ได้จ่ายเงิน!!</h1>
            <div class="row">
              <div class="col-md-12">
                <a class="btn w-30 m-3 btn-success" id="money-btn-1" style="color: white; text-decoration: underline; cursor: pointer;" >จ่ายเงินเรียบร้อยจ้า</a>
                <a class="btn w-30 m-3 btn-danger" id="money-btn-2"  style="padding: 9px 50px 9px 50px; color: white; text-decoration: underline; cursor: pointer;" >ค้างชำระ</a>
                <a class="btn w-75 m-3 btn-success" id="get-shirt" style="color: white; text-decoration: underline; cursor: pointer;">รับเสื้อเรียบร้อยเด้อ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <% include ../admin/scriptAd.ejs %>
</body>
<script>
  $(function () {

      <% if( (payload.status === 'จ่ายแล้ว')){ %>
        $('#unpaid').hide();
        $('#money-btn-1').hide();
        $('#money-btn-2').hide();
      <% } else{ %>
        $("#get-shirt").hide();
         $('#paid').hide();
        <% } %>

      function swapButton() {
        $("#money-btn-1").hide();
        $("#money-btn-2").hide();
        $("#get-shirt").show();
         $('#unpaid').hide();
          $('#paid').show();
      }
      function swapButtonunpaid() {
        $("#money-btn-1").hide();
        $("#money-btn-2").hide();
        $("#get-shirt").show();
      }


      var index = <%=payload.index%>;

      $("#money-btn-1").click(function(){
        swapButton();
         $.ajax({
                url: '/admin/info-money',
                type:'POST',
                data: {index : index},
                success: function (success) {
                   if(success === '0'){
                     alert("มีบางอย่างผิดพลาด");
                     window.location.href = '/admin/confirm' ;
                    }else{
                      alert("จ่ายเงินเรียบร้อย");
                      $('#unpaid').hide();
                      $('#paid').show();
                    }
                }
            });
      });

      $("#money-btn-2").click(function(){
        swapButtonunpaid();
      });

      $("#get-shirt").click(function(){
           $.ajax({
                url: '/admin/info-shirt',
                type:'POST',
                data :  {index : index},
                success: function (success) {
                    if(success === '0'){
                     alert("มีบางอย่างผิดพลาด");
                     window.location.href = '/admin/confirm' ;
                    }else{
                      alert("รับเสื้อเรียบร้อยแล้วครับ");
                     window.location.href = '/admin/success/'+index ;
                    }
                },
                error: (err) => {
                  console.log(err);
                }
            });
      });
  });
</script>


</html>
